{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/post-bg.jpg')">
    {{ end }}
      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="post-heading">
               <h1>{{ title .Title }}</h1>
               <h2 class="subheading">{{ title .Description }}</h2>
               <span class="meta">Posted by <a href="#">{{ .Site.Params.Author }}</a> on {{ dateFormat .Site.Params.DateForm .Date }}
                 <br />
                 {{ partial "categories.html" . }}
                 <br />
                 {{ partial "tags.html" . }}
               </span>
             </div>
           </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ .Content }}
                </div>
            </div>
        </div>
    </article>
    
    {{if eq .Site.Params.useDuoShuo true}}
    <div class="comments">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ .RelPermalink }}" data-title="{{ .Title }}" data-url="{{ .Permalink }}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
var duoshuoQuery = {short_name:"kakawetofu"};
    (function() {
                var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                        ds.charset = 'UTF-8';
                                                (document.getElementsByTagName('head')[0] 
                                                         || document.getElementsByTagName('body')[0]).appendChild(ds);
                                                    })();
    </script>
    <!-- 多说公共JS代码 end -->
    </div>
{{ partial "footer.html" .}}
